body{
	position:relative;
	margin:auto;
	width:100%;
	height:100%;
	padding:0;
	top:0;
	left:0;
	background-color: #ffe7fc;
	font-family: 'Quicksand', sans-serif;
	font-size:18px;
}

form{
	position:relative;
}

.bodyText{
	position:relative;
	margin:auto;
	padding-left:17%;
	padding-right:17%;
	top:-50px;
	padding-top:55px;
	height:100vh;
}

.navButton .link.active{
	font-size:27px;
	color:white;
}

.link:active{
	font-size:18px;
}

.navButton{
	position:relative;
	display:inline-block;
	width:20%;
}

.navButton .link{
	text-decoration: none;
	color: #000000;
}

.space{
	position:relative;
	display: inline-block;
}

.space:hover .myTooltip{
	visibility:visible;
}

.spaceID{
	position:absolute;
	z-index: 10;
	left:9px;
	top:12px;
	/*top:-20px;*/
}

.spaceImg{
	position:relative;
	z-index: 9;
}

.textBox{
	position:relative;
	/*top:-20px;*/
	margin:auto;
	padding:20px;
	border:5px solid #f7adc2;
	background-color: white;
	border-radius:7px;
}

.myTooltip{
  position:absolute;
  z-index:50;
  width: auto;
  background-color: #ffffff;
  border:3px solid #f7adc2;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  visibility:hidden;
  font-size: 20px;
  padding:5px;
}

#navbar{
	margin: auto;
	z-index: 99;
	text-align: center;
	position: relative;
	/*background-color: #ffafc3;*/
	background-color: #f7adc2;
	left: 0px;
	top: 0px;
	height: 100px;
	width:100%;
	box-shadow: 0px 2px 8px #777777;
	font-size: 35px;
	font-weight: bold;
	color: #000000;
	font-family: 'Spectral SC', serif;
}

#navLinks{
	position:relative;
	font-size: 22px;
	top:10px;
}

.navButton .link:hover{
	color: #ec008c;
}

#navTitle{
	position:relative;
	top:5px;
}

#sugorokuBoardButton{
	position:relative;
	/*top:-20px;*/
}

/****************************DROPDOWN********************************/
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
}

.dropdownContent a:hover {
	background-color: #f1f1f1
}

.dropdownIcon{
	float:right;
}

.show{
	display:block;
}

#currentDropdown {
    background-color: #ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border:5px solid #f7adc2;
    cursor: pointer;
    width:50%;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:5px;
}
